{% extends 'base.html' %}

{% block title %}
<title>Log in</title>
{% endblock title %}

{% block body %}
<div class="account-form-wrapper">
    <form method="post" action="{% url 'login' %}" class="account-form">
    {% csrf_token %}
      <div class="question">
        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>
      </div>
      <div class="question">
        <p>{{ form.password.label_tag }}</p>
        <p>{{ form.password }}</p>
      </div>
      <div class="button-container">
          <input type="submit" value="Login" class="loginbutton">
          <button type="button" class="passresetbtn">
              <a href="{% url 'password_reset' %}">Reset password</a>
          </button>
      </div>
  </form>
    <div class="login-errors">
    {% if form.errors %}
    <p class="error">Invalid credentials.</p>
    {% endif %}
    </div>
</div>

{% endblock body %}