{% extends 'base.html' %}

{% block title %}
{{ movie.title }}
{% endblock title %}

{% block body %}
<div class="booking-container">
    <div class="movie-booking-container">
        <img style="height: 400px" src="{{ movie.poster.url }}"/>
        <div class="movie-content" style="color:#262626">
            <h1>{{movie.name}}</h1>
            <h3>Length: {{ movie.length }}</h3>
        </div>
    </div>
    <div class="booking-form" style="margin: 20px;">
        <form method="post">
        {% csrf_token %}
        {{ form.media.js }}
        {% for question in form %}
        <div class="question">
            <p>
                {{question.label}}{% if question.field.required %}<ins style="color: red">*</ins>{% endif %}
                {{question}}
            </p>
            {{question.errors}}
        </div>
        {% endfor %}
        <input type="submit" value="Book now">
    </form>
    </div>

</div>

{% endblock body %}