{% extends 'base.html' %}

{% block title %}
<title>Currently playing</title>
{% endblock title %}

{% block body %}
<div class="wrapper">
    <h1>CURRENTLY PLAYING</h1>
</div>
<div class="results-container">
    {% for movie in page_obj %}
        <div class="movie-container">
            <h1 style="color: #FFFFFF">{{ movie }}</h1>
            <div class="button-container">
                {% if user.is_authenticated %}
                    <a href="{% url 'reservation' pk=movie.pk %}"><button type="button" class="light-button">Book now</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button type="button" class="light-button">Log in to book</button></a>
                {% endif %}
                <button type="button" class="light-button" onclick="location.href='{{ movie.imdb_link }}'">See more on IMDb</button>
                <a href="{% url 'movie_details' pk=movie.id %}"><button type="button" class="light-button">Details</button></a>

            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-button">first</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?page={{ page_obj.previous_page_number }}" class="page-button">Previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-button">next</a>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button">last</a>
        {% endif %}
    </span>
</div>

{% endblock body %}