{% block footer %}
{% load static %}
<div class="footer">
    <p>Follow us</p>
    <a href="https://www.facebook.com/">
        <img src="{% static 'img/facebook-white.png' %}" alt="logo" class="icon">
    </a>
    <a href="https://www.instagram.com/">
        <img src="{% static 'img/instagram-white.png' %}" alt="logo" class="icon">
    </a>
    <a href="https://www.linkedin.com/">
        <img src="{% static 'img/linkedin-white.png' %}" alt="logo" class="icon">
    </a>
    <a href="https://www.youtube.com/">
        <img src="{% static 'img/youtube-white.png' %}" alt="logo" class="icon">
    </a>
</div>
{% endblock footer %}